.del{
    background-color: red;
    color: wheat;
    border: none;
    padding: 5px 9px;
    cursor: pointer;
    float: right;
}

.user {
    background-color: wheat;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
}

.is-not-available {
    text-decoration: line-through;
}